
body {
  background-color: black;
  color:white;
  font-family:arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icon{
 height: 50px;
 
}

.move-button{
  background-color: transparent;
  border : 3px solid white;
  height: 120px ;
  width : 120px;
  border-radius : 60px;
  margin-right: 10px;
  cursor : pointer;
}

.result {
  font-size:30px;
  font-weight : bold ;
  margin-top : 50px;
}

.score{
   margin-top:60px;
}

.reset-button{
  border: none;
  background-color: white;
  padding : 10px 15px;
  cursor : pointer;
}